.profile {
  grid-area: mp;
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: 250px 300px;
  grid-template-rows: 300px 50px 300px;

}

.avatar {
  width: 250px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

}

.avatar img {
  max-width: 220px;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 10px;

}

.button_photo {
  width: 200px;
  height: 30px;
  margin-left: 23px;
  margin-top: 10px;
}

.information {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 600px;
  margin-left: 10px;

}

.information span {
  font-size: 26px;
  margin-left: 20px;
  
}

.information span::after {
  content: '';
  background-color: rgb(192, 181, 181);
  height: 1px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  display: block;
}

.info p {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 200;
}

.block2 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 10px;

}

.friend_bar {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: -12px;
  display:flex;
  flex-wrap:wrap;
  padding: 10px;
  font-size: 14px;
}
.friend_ava{
  height:60px;
   width:calc( ( 100% - 40px ) / 3 );
  margin:0 0 20px;
}
.friend_ava:nth-child(3n-1){
  margin-left:20px;
  margin-right:15px;
}
.friend_ava img{
  max-width: 70px;
  border-radius:50%;
}
.new_post {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 600px;
}

.new_post {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}

.new_post:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url('https://mywebicons.ru/i/jpg/94cf5b9ae34581a01f115f42fc7dd545.jpg') no-repeat;
  background-size: cover;
}

.new_post input {
  margin-top: 5px;
  margin-left: 5px;
  width: 580px;
  height: 25px;
  Border: none;
  outline: none;
}

.info {
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

}

.post {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 600px;

}