.profile {
  grid-area: mp;
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  grid-template-columns: 250px 300px;
  grid-template-rows: 300px 50px 300px;

}


.block2 {
 
  background-color: rgba(211, 211, 211, 0.322);
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 10px;

}

.new_post {

  background-color: rgba(211, 211, 211, 0.322);
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 600px;
}

.new_post {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  background-color: rgba(211, 211, 211, 0.322);
  
}



.new_post input {
  margin-top: 5px;
  margin-left: 5px;
  width: 550px;
  height: 25px;
  Border: none;
  outline: none;
}

.info {
  font-size: 20px;
  background-color: rgba(211, 211, 211, 0.322);
  border-radius: 10px;

}

.post {
 
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 600px;

}
.friend_bar {
  background-color: rgba(211, 211, 211, 0.322);
  border-radius: 10px;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  height: 150px;
  overflow: auto;
  -ms-overflow-style: none;
      scrollbar-width: none;
  
}
.friend_bar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.send_button img {
  max-width: 30px;
}
.send_button {
  float: right;
 margin-top: -27px;

}
