.Posts_block{
    margin-bottom: 8px;
    background-color:rgba(211, 211, 211, 0.322);
    border-radius: 10px;
    padding-left: 20px; 
    display: grid;
    grid-template-columns: 2fr 10fr;
   
}
.post_owner{
    font-size: 12px;
    margin-left: -50px;
    margin-top: 8px;
}
.like{
    font-size: 12px;
    padding-top: 12px;
    display: flex;
    align-items: flex-end;
    margin-left: -10px;
    margin-bottom: 5px;
    
}
.post{
    padding-bottom: 10px;  
    margin-left: -50px;  
    margin-top: -10px;
} 
.avatar{
    margin-left: -20px;
}
.avatar img{
    padding: 3px 0px 0px 5px;
    width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
